.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-color {
  /* background-color: #DEECF0; */
  background-color: #D3A1CA;
  width: 48% !important;
}

.card-image {
  width: 410px;
  height: 341px;
}

.someinfo-div {
  background: linear-gradient(99.37deg, rgba(209, 143, 195, 0.76) -1.76%, rgba(76, 20, 87, 0.89) 124.11%);

}

.footer-text-color {
  color: #7E2ECE
}

.team-color {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 450;
  font-size: 96px;
  line-height: 116px;
  letter-spacing: 0.40em;

  background: linear-gradient(181.21deg, #EDCEEF 1.04%, rgba(211, 205, 219, 0) 98.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transform: rotate(-90deg);
}

.home-heading {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #FFFCFC;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.vision-heading {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #3C2B47;
}

.video-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #362D2D;
}

.video-paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #000000;
}

.card-paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #000000;
}

.vision-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 77px;
  letter-spacing: 0.15em;
  background: linear-gradient(179.39deg, #8031FF 0.53%, #AF0A8F 150.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.vision-subtext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 77px;
  letter-spacing: 0.15em;
  background: linear-gradient(179.39deg, #8031FF 0.53%, #AF0A8F 150.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 0.35;
}

.snowman {
  position: relative;
  width: 200px;
}

.bottom {
  position: absolute;
  bottom: 0;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  height: 250px;
  max-width: 400px !important;
}


.arrow-color {
  color: #7E2ECE;
}


.top {
  position: absolute;
  top: 0;
  left: 70%;
  transform: translateX(-50%);
  z-index: 2;
  height: 150px;
  max-width: 300px !important;
}

.vision-div {
  /* background-color: #EDD2B9; */
  background: rgba(237, 210, 185, 0.5);
}

.homepage {
  background: radial-gradient(50% 50% at 50% 50%, #382842 0%, #1E1224 100%);
}

.team-card {
  background: linear-gradient(180deg, #402740 0%, #1F1325 100%);
}

.learn-more-btn {
  width: 190px;
  height: 50px;
  background: linear-gradient(93.96deg, #7932DB 0%, #931785 100%);
}

.read-more-btn {
  width: 190px;
  height: 50px;
  background: linear-gradient(93.96deg, #7932DB 0%, #931785 100%);
}

.teams-page {
  background: linear-gradient(180deg, #3C2B47 -3.26%, rgba(217, 217, 217, 0) 100%);
}

.team-page-heading {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 86px;
  text-align: center;
  letter-spacing: 0.29em;
  color: #3C2B47;

}

.founder-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}

.card-1 {
  background: linear-gradient(177.95deg, #9961D0 1.73%, #FFFFFF 94.83%);
}

.card-2 {
  background: linear-gradient(180deg, #DB6AC7 0%, rgba(209, 206, 210, 0) 100%);
}

.research-card {
  background: #DED3DB;
}

.pipeline-page-para {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 19.375px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #FFFFFF;
}

.biosensors-heading {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 63px;
  color: #000000;
}

.slider {
  width: 85%;
}

.slider-div {
  background: #E5D9F1;
}


.slider-div1 {
  background: #F1D5E8;
}


.slider-div2 {
  background: #F7ECE0;
}

.slider1 {
  -webkit-appearance: none;
  background: #9E7FCF;
  border-radius: 5px;
  height: 10px;
  outline: none;
}

.slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #3C2B47;
  border-radius: 50%;
  cursor: pointer;
}

.slider2 {
  -webkit-appearance: none;
  background: #DC79C0;
  border-radius: 5px;
  height: 10px;
  outline: none;
}

.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.slider3 {
  -webkit-appearance: none;
  background: #EEC18F;
  border-radius: 5px;
  height: 10px;
  outline: none;
}

.slider3::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.science-card-color {

  /* background: linear-gradient(180deg, #7E2ECE 0%, rgba(237, 127, 144, 0) 100%); */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(180.05deg, #E82DA0 16.57%, rgba(237, 127, 144, 0) 99.96%);
}

.synthetic-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 68px;
  letter-spacing: 0.05em;
  color: #3C2B47;
}

.synthetic-para {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #000000;
}

.synthetic-subheading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.29em;
  color: #000000;
}

.trx {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.request-btn {
  background: #F8F8F8;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}